<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12 ">

                <form class="input-group">
                    <input type="text" class="form-control form-control-sm col-md-7" placeholder="Votre email" aria-label="Your email" aria-describedby="basic-addon2">

                    <input type="text" style="margin-left: 7px;" class="form-control form-control-sm col-md-4" id="rechercheCommuneNews" placeholder="Votre Commune" aria-label="Your email" aria-describedby="basic-addon2">
                    <datalist class="mdb-autocomplete-wrap" id="insertCommuneNew">

                    </datalist>
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white" type="button">Newsletter</button>
                    </div>
                </form>
<br>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> WildCodeSchool</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->