{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/header.css') }}">
{% endblock %}

<!--Navbar-->
<nav class="navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand text-center" href="http://www.atmo-grandest.eu/">
        <img src="http://www.atmo-grandest.eu/themes/atmo/logo.png" width="100" height="auto" alt="ATMO">
    </a>

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->