{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
{% endblock %}

{% block body %}

    <br><br>
    <div class="blur"></div>
    <div id="horloge"></div>

<div class="wut">
        <div class="modal-dialog cascading-modal" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header white-text">
                    <h4 class="title">
                        <i class="fa fa-map-marker"></i> Ma Commune</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <h3 class="text-center">Trouvez votre commune</h3>
                    <!-- Material textarea message -->

                    <form action="information/infos" method="post" class="md-form form-sm">
                        <i class="fa fa-pencil prefix"></i>
                        <input type="text" name="commune" id="rechercheCommune" list="insertCommune" class="md-textarea form-control">
                        <label for="materialFormMessageModalEx1"></label>
                        <datalist class="mdb-autocomplete-wrap" id="insertCommune">

                        </datalist>


                    <div class="text-center mt-4 mb-2">
                        <button class="btn">Envoyer
                            <i class="fa fa-send ml-2"></i>
                        </button>
                    </div>
                    </form>

                </div>
            </div>
            <!--/.Content-->
        </div>
</div>
    {% include 'footer.html.twig' %}
{% endblock %}

